* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(134, 200, 198);
}

.ssls-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ssls-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ssls-column {
    display: flex;
    flex-direction: column;
}

.ssls-content {
    flex: 1;
}

.ssls-header {
    height: 50px;
}

.ssls-footer {
    height: 50px;
}

.ssls-login-form {
    border-radius: 5px;
    width: 350px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: rgb(250, 250, 250);
}

.ssls-login-form input:focus {
    border-color: rgb(134, 200, 198);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(134, 200, 198, .6);
}

.ssls-form-control:focus {
    outline: none;
}

.ssls-login-form-header {
    border-radius: 5px;
    padding: 0 40px 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.ssls-login-form-header h1 {
    margin: 20px 0;
}

.ssls-form-control {
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.ssls-name {
    height: 35px;
}

.ssls-password {
    height: 40px;
}

.ssls-column input:not(:first-child) {
    margin-top: 15px;
}

.ssls-column input:last-child {
    margin-bottom: 10px;
}

.ssls-login-form-middle {
    padding: 25px 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ssls-login-form-middle .ssls-border {
    margin-top: 40px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.ssls-login-form-middle p {
    margin-bottom: 30px;
}

.ssls-login-form-bottom {
    padding: 0 40px;
}

.ssls-login-form h1 {
    font-weight: bolder;
}

.ssls-login-form h2 {
    font-weight: bolder;
    margin: 0 0 3px;
}

.ssls-between {
    display: flex;
    justify-content: space-between;
}

.ssls-btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.ssls-btn, .ssls-btn:hover, .ssls-btn:focus, .ssls-btn:active, .ssls-btn:focus:active {
    background-color: rgb(47, 192, 189);
    outline: none;
    color: #fff;
}

.ssls-btn {
    border-radius: 5px;
    border: 1px solid rgb(47, 192, 189);
    cursor: pointer;
}

.ssls-login-form-header .ssls-btn {
    height: 30px;
    line-height: 16px;
    padding: 0 17px;
}

.ssls-social {
    background-color: rgb(250, 250, 250);
}

.ssls-remember p {
    color: rgb(185, 185, 185);
    font-weight: 500;
}

.ssls-remember a {
    text-decoration: none;
    color: rgb(217, 40, 58);
}

.ssls-login-form-footer span {
    color: rgb(217, 40, 58);
}

.ssls-login-form-footer .ssls-btn {
    padding: 0 20px;
    height: 30px;
    line-height: 15px;
    text-transform: uppercase;
}

.ssls-login-form-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ssls-remember div {
    display: flex;
}

.ssls-remember p {
    margin-left: 5px;
}

.ssls-social {
    display: flex;
    justify-content: space-between;
}

.ssls-social button {
    width: 100%;
    margin-right: 5px;
    color: #fff;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.ssls-social button:focus {
    outline: none;
}

.ssls-social button:last-child {
    margin-right: 0;
}

.ssls-btn-google {
    background-color: rgb(211, 71, 56);
}

.ssls-btn-facebook {
    background-color: rgb(63, 89, 146);
}

.ssls-btn-twitter {
    background-color: rgb(34, 171, 241);
}