@import "ssls-login-form/src/components/Login/Login.scss";

@import "ssls-login-form/src/components/LoginInput/LoginInput.scss";

@import "ssls-login-form/src/components/PasswordInput/PasswordInput.scss";

@import "ssls-login-form/src/components/SocialButton/SocialButton.scss";

@import "ssls-login-form/src/components/SocialLogin/SocialLogin.scss";

@import "ssls-login-form/src/components/Register/Register.scss";

.ssls-login-form-btnGroup {
    @extend %flex-center;
    margin-top: 20px;
    .ssls-login-form-btn {
      @extend %ssls-btn;
      &:hover,
      &:focus,
      &:active,
      &:focus:active {
        @extend %ssls-btn;
      }
    }
  }
  
  .ssls-login-wrapper {
    @extend %ssls-login-wrapper;
  }
  
  .ssls-login-wrapper:first-child {
    @extend %ssls-login-wrapper;
    border-radius: 5px 5px 0 0;
  }
  
  .ssls-login-wrapper:last-child {
    @extend %ssls-login-wrapper;
    border-radius: 0 0 5px 5px;
  }
  
  .ssls-login-form-btnGroup {
    @extend %flex-center;
    margin-top: 20px;
    .ssls-login-form-btn {
      @extend %ssls-btn;
      &:hover,
      &:focus,
      &:active,
      &:focus:active {
        @extend %ssls-btn;
      }
    }
  }
  
  .ssls-error {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red;
  }
  
  .ssls-success {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px green;
  }
  
  .ssls-login-form-social {
    @extend %flex-between;
    background-color: $info-colour;
    button:last-child {
      margin-right: 0;
    }
  }