@import "../main.scss";

.TextInput {
  @extend %flex-column;
  
}

.ssls-login-form-input {
  @extend %ssls-form-control;
  height: 40px;
  margin-bottom: 10px;
}

.ssls-text-error {
  margin: 0 0 10px 0;
  color: $attention-color;
  font-size: 12px;
}