@import 'ssls-login-form/src/components/main.scss';

.ssls-login-form-middle {
    @extend %flex-center;
    padding: 25px 20px 0;
    flex-direction: column;
    .ssls-login-form-header {
      @extend %flex-center;
      p {
        margin-bottom: 30px;
      }
    }
  
    .ssls-login-form-border {
      margin-top: 40px;
      border-bottom: 1px solid rgb(217, 217, 217);
    }
  }