@import "./components/Login/Login.scss";

@import "./components/TextInput/TextInput.scss";

@import "./components/SocialButton/SocialButton.scss";

@import "./components/SocialLogin/SocialLogin.scss";

@import "./components/Register/Register.scss";

.ssls-login-form-btnGroup {
  @extend %flex-center;
  margin-top: 20px;
  .ssls-login-form-btn {
    @extend %ssls-btn;
    &:hover,
    &:focus,
    &:active,
    &:focus:active {
      @extend %ssls-btn;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.ssls-login-wrapper {
  @extend %ssls-login-wrapper;
}

.ssls-login-wrapper:first-child {
  @extend %ssls-login-wrapper;
  border-radius: 5px 5px 0 0;
}

.ssls-login-wrapper:last-child {
  @extend %ssls-login-wrapper;
  border-radius: 0 0 5px 5px;
}

.ssls-login-form-btnGroup {
  @extend %flex-center;
  margin-top: 20px;
  .ssls-login-form-btn {
    @extend %ssls-btn;
    &:hover,
    &:focus,
    &:active,
    &:focus:active {
      @extend %ssls-btn;
    }
  }
}

.ssls-error {
  @extend %ssls-input-error;
}

.ssls-success {
  @extend %ssls-input-success;
}

.ssls-login-form-social {
  @extend %flex-between;
  background-color: $info-colour;
  button:last-child {
    margin-right: 0;
  }
}
